# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# Django
SECRET_KEY=django_app_secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

# Email
EMAIL_HOST_USER=noreply@example.com
EMAIL_HOST_PASSWORD=emailhostpassword
EMAIL_HOST=smtp.exmaple.com

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1